.todo{
    background-color: #018F8C;
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 2px;
    border: 2px;
    padding: 5px;
}
.logo img{
    width: 200px;
}
.redes img{
    margin: 0.2em;
    width: 70px;
}
@media (max-width: 575px){
    .container{
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redes img{
        margin: 0.2em;
    }
}
.banner{
    margin: 5px;
    border: 10px;
    padding: 20px;
}
.banner img{
    width: 100%;
    height: 680px;
}
.container2{
    grid-row: auto;
    padding: 20px;
    text-align: center;
}
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 680px;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 34%;
        top: 800px;
    }
}
.nombre{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: black;
    margin: 5px;
    border: 5px;
    padding: 10px;
    margin-top: 5%;
}
.nombre p{
    font-size: 15px;
    text-align: center;
    color: black;
    margin: 5px;
    border: 5px;
    padding: 10px;
}
.acerca-de{
    margin: 5px;
    border: 5px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    color: black;
}
.exp-edu{
    margin: 5px;
    border: 5px;
    padding: 10px;
    font-weight: bold;
    color: black;
    margin-top: 1%;
    margin-left: 12%;
}
#laboral{
    padding-left: 5%;
    width: 45%;
    border: 1px solid black;
}
#educacion{
    padding-right: 5%;
    width: 45%;
    border: 1px solid black;
}
.titulohys{
    text-align: center;
    margin-top: 2px;
}
#hys{
    margin-left: 15%;
}
.progress-title{
    font-size: 18px;
    font-weight: 700;
    color: #1c2647;
    margin: 0 0 10px;
}
.progress{
    height: 30px;
    background: #fff;
    border-top: 5px solid #1c2647;
    border-bottom: 5px solid #1c2647;
    border-radius: 0;
    margin-bottom: 25px;
    overflow: visible;
    position: relative;
}
.progress:before,
.progress:after{
    content: "";
    width: 10px;
    background: #1c2647;
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 0;
}
.progress:after{
    left: auto;
    right: -5px;
}
.progress .progress-bar{
    border: none;
    box-shadow: none;
    -webkit-animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
    animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
}
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}
.titulo{
    text-align: center;
}
.proyecto{
    width: auto;
}
.nombreproyecto{
    margin-left: 10%;
    margin-top: 5%;
    text-align: left;
    color: black;
    font-weight: bold;
}
.nombreproyecto2{
    margin-left: 15%;
    margin-top: 5%;
    text-align: left;
    color: black;
    font-weight: bold;
}
.img-fluid{
    box-shadow: 10px 10px 30px black;
}
.footer{
    background-color: black;
    margin: 10px;
    padding: 20px;
    margin-top: 5%;
    color: white;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
}